<div class="row box_shadow">
    <div class="row">
      <div class="col-md-6">
        <ul class="nav bg_color12">
          <li class="nav-item">
              <a class="nav-link "><i class="fas fa-arrow-right"></i> </a>
          </li>
            <li class="nav-item">
              <a class="nav-link ">Vendor Contracts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link "><i class="fas fa-chevron-right"></i></a>
              </li>
            <li class="nav-item">
                <a class="nav-link">Fixed Price Contracts – English</a>
            </li>
      </ul>
      </div>
      <div class="col-md-6">
        <div class="float-end">
          <button class="btn btn-white mr-5">Cancel</button>
          <button class="btn btn-primary btn-save">Save</button>
        </div>
      </div>
    </div>
      
  </div>

 

  
  