.bg_162835 {
  background-color: #162835;
}
.top_nav {
  background-color: #162835;
  position: fixed;
  width: 100%;
}
.navbar-brand {
  color: #ffffff;
}
.btn-custom {
  color: #ddd;
  border: 1px solid #ddd;
  border-radius: 0px;
  height: 35px;
  padding-top: 5px !important;
  font-size: 14px;
}
.c_fff > a {
  color: #ffffff;
}
