<div class="row box_shadow">
  <div class="row">
    <div class="col-md-6">
      <ul class="nav bg_color12">
        <li class="nav-item">
            <a class="nav-link "><i class="fas fa-arrow-right"></i> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link ">Document Typess</a>
          </li>
        <li class="nav-item">
          <!-- <a class="nav-link "><i class="{{c_titleData.icon}}"></i></a> -->
        </li>
       
    </ul>
    </div>
    <div class="col-md-6">
      <div class="float-end">
        <button class="btn btn-white mr-5">Download</button>
      <button class="btn btn-primary btn-save">Create New Document Type</button>
      </div>
    </div>
  </div>
    
</div>

